var formatTime = function(timestamp) {
  if (!timestamp) {
    return ''
  }
  
  var date = getDate(timestamp)
  var hour = date.getHours()
  var minute = date.getMinutes()
  
  var hourStr = hour < 10 ? '0' + hour : hour
  var minuteStr = minute < 10 ? '0' + minute : minute
  
  return hourStr + ':' + minuteStr
}

var repeat = function(str, count) {
  if (!str || count <= 0) {
    return ''
  }
  var result = ''
  for (var i = 0; i < count; i++) {
    result += str
  }
  return result
}

var getRatingStars = function(rating) {
  if (rating === 0) {
    return '❓'
  }
  return repeat('⭐', rating)
}

module.exports = {
  formatTime: formatTime,
  repeat: repeat,
  getRatingStars: getRatingStars
}
